<div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active"> <img src="images/banner1.png" alt="img">
                    <div class="carousel-caption"> Be the change that you wish to see in the world

                    </div>
                </div>
                <div class="item"> <img src="images/banner2.png" alt="img"> </div>
                <div class="item"> <img src="images/banner3.png" alt="img">
                    <!-- <div class="carousel-caption"> Quotation will comes here<br>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div> -->
                </div>
                <div class="item"> <img src="images/banner4.png" alt="img">
                    <!-- <div class="carousel-caption"> Quotation will comes here<br>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div> -->
                </div>
                <div class="item"> <img src="images/banner5.png" alt="img">
                    <!-- <div class="carousel-caption"> Quotation will comes here<br>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div> -->
                </div>
            </div>
        </div>